<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="shortcut icon" href="images/favicon.ico" />

<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<script>
  document.createElement('header');
  document.createElement('section');
  document.createElement('article');
  document.createElement('aside');
  document.createElement('nav');
  document.createElement('footer');
</script>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	
<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="js/jquery.fitvids.js" type="text/javascript"></script>
<script src="js/slides.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("#wrapper").fitVids();	
  });
</script>

<script>
            $(function(){
               $("#slides").slides({
					play: 5000,
					preload: true,
					pagination: false,
					generatePagination: false
				});
            });
</script>

<script type='text/javascript'>
$(function(){$.fn.scrollToTop=function(){$(this).hide().removeAttr("href");if($(window).scrollTop()!="0"){$(this).fadeIn("slow")}var scrollDiv=$(this);$(window).scroll(function(){if($(window).scrollTop()=="0"){$(scrollDiv).fadeOut("slow")}else{$(scrollDiv).fadeIn("slow")}});$(this).click(function(){$("html, body").animate({scrollTop:0},"slow")})}});
  $(function() {
                $("#toTop").scrollToTop();
            });
</script>

<title>Transport - iPhone Theme</title>

</head>
<body>
<div id="wrapper">
	
	<header>
	
			<section class="title">
				<section class="content">
					<a href="#" title=""><img src="images/icon.png" alt="Transport" />
					<h1>Transport</h1></a>
				</section><!-- content ENDS -->
				
				<section class="desc">
					<h2>Find every station near you</h2>
					<p>Morbi scelerisque nunc quis eros lacinia et commodo lectus tristique. Pellentesque hendrerit <a href="http://www.ssstratos.com" title="Link">commodo</a> magna sed semper. Etiam ornare eleifend ante, vel varius tortor euismod a. Aliquam consectetur ullamcorper justo, eu dignissim nibh ullamcorper non. Pellentesque quis libero metus, a malesuada lacus. Nullam semper leo eget mi adipiscing ultrices. </p>
					<a class="button appstore" href="http://www.apple.com/itunes/whats-new/" target="_blank" title="Available on the AppStore">Available on the AppStore</a>		
					<a class="button gplay" href="https://chrome.google.com/webstore" target="_blank" title="Get it on Google Play">Get it on Google Play</a>			
				</section><!-- desc ENDS -->
			</section><!-- title ENDS -->
			
			<section class="media">
				 <div id="slides">
					 <div class="slides_container">
						<div><img src="images/app1.jpg" alt="App Screenshot" /></div>
						<div><img src="images/app2.jpg" alt="App Screenshot 2" /></div>
						<div><img src="images/app3.jpg" alt="App Screenshot 3" /></div>
					</div>
				</div>
			</section><!-- media ENDS -->
	
	</header><!-- header ENDS -->
	
	
	<section class="video">
		<div class="video_width"><iframe src="http://player.vimeo.com/video/32397612?portrait=0&amp;color=ffffff" width="700" height="394" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
	</section><!-- video ENDS -->
			
	<section class="feat_outer">
		<section class="feat">
			<section>
			<img src="images/feat1.png" alt="Feature 1" />
			<h2>Easy &amp; Fast Navigation</h2>
			<p>Curabitur congue, lorem ac, sem neque hendrerit arcu. Mauris vehicula eget non.</p>
			</section>

			<section class="middle">
			<img src="images/feat2.png" alt="Feature 2" />
			<h2>Nearest Stops &amp; Stations</h2>
			<p>Ut feugiat, elit sed dignissim porttitor, sapien metus lobortis leo.</p>
			</section>
		
			<section>
			<img src="images/feat3.png" alt="Feature 3" />
			<h2>Fully Customized Panel</h2>
			<p>Nam cursus gravida nisl, quis vehicula lorem. Nam ac justo molestie sodales.</p>
			</section>
		</section><!-- feat ENDS -->
		
		<section class="getitnow">
			<h2>Get it now!</h2>
			<a class="button appstore" href="http://www.apple.com/itunes/whats-new/" target="_blank" title="Available on the AppStore">Available on the AppStore</a>		
			<a class="button gplay" href="https://chrome.google.com/webstore" target="_blank" title="Get it on Google Play">Get it on Google Play</a>	
		</section><!-- social ENDS -->
		
		<section class="social">
			<h2>Don't hesitate to contact us!</h2>
			<a href="https://www.facebook.com/ssstratos" title="Facebook"><span class="fb"></span></a>
			<a href="https://twitter.com/ssstratos" title="Twitter"><span class="twitter"></span></a>
			<a href="http://www.ssstratos.com/#contact" title="Mail"><span class="mail"></span></a>
		</section><!-- social ENDS -->
		
	</section><!-- feat_outer ENDS -->

	<footer class="footer_outer">	
		<section class="footer">
			<p>&copy; 2012 Transform App - Stratos Iordanidis</p>
		</section>
	</footer><!-- outer ENDS -->
	
	<a href="#" id="toTop"><img src="images/top.png" alt="Go to Top" /></a>
	
</div><!-- wrapper ENDS -->
</body>
</html>